# Render PostgreSQL Database Connection String (with sslmode=require)
DATABASE_URL="postgresql://user:password@ep-sample-12345.us-east-1.aws.neon.tech/susan_perfume?sslmode=require"

# Server Port
PORT=5000

# Security
JWT_SECRET="susan_perfume_super_secret_jwt_key_2026"
CLIENT_ORIGIN="http://localhost:3000"

# Paystack API Keys
PAYSTACK_SECRET_KEY="sk_test_xxxxxx"
